{
  "presets": [
    "stage-0",
    "node5",
    "react"
  ],
  "env": {
    "produkta": {
      "presets": ["babili"]
    }
  },
  "plugins": [
    "transform-react-display-name",
    "transform-decorators",
    "transform-class-properties",
    "transform-es2015-classes"
  ]
}
